<% if user_signed_in? %>
  <div id="signed-in">

   not you? <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>
</div>
 <% else %>
   <div id="plz-sign-in">
   Please <%= link_to('Login', new_user_session_path)  %>
     </div>

 <% end %>
