= form_for([@link, @link.comments.build]) do |f|

	- if current_user 
		#add-comment-body
			= f.label :body 
			~ f.text_area :body 
			
		#add-comment-actions
			= f.submit
	- else
		#add-comment-actions
			= f.submit "Login to Add Comment"
